.page-content {
  width: 100%;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.page-content > header {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-bottom: 5rem;
}

.page-content > header > * {
  flex: 1 1 auto;
}

.content-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: nowrap;
  width: 50%;
}

.content-row > div {
  flex: 0 1 auto;
  width: 100%;
}

/* .content-row > div:only-child {
  width: 50%;
} */

.app-header {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 10;
}

.app-header > .page-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: clamp(0.9rem, 1vw + 0.6rem, 1.1rem);
  z-index: 10;
  margin: 1rem;
}

.app-header .page-content .logo-full {
  z-index: 10;
}

.app-header .page-content .lang-selector {
  padding: 0 3rem;
  z-index: 10;
}

.logo-full {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  height: 100px;
  overflow: hidden;
  flex: 0 1 auto;
  padding: 1rem;
}

.logo-full > img {
  height: 100%;
  overflow: hidden;
}

.logo-full > img:last-child {
  height: 32%;
}

.header-right {
  max-width: 6.5em;
}

.logo-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.nav-menu {
  position: absolute;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
  padding: 0 1rem;
  font-size: clamp(0.9rem, 1vw + 0.5rem, 1.3rem);
  flex: 1 1 auto;
}

.nav-menu > * {
  display: inline-flex;
  align-items: center;
  position: relative;
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
  height: 100%;
  font-weight: bold;
}

.nav-menu a {
  padding: 0 0.5rem;
  white-space: nowrap;
}

.nav-menu a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.75rem;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
  display: none;
}

.nav-menu a:hover::after,
.nav-menu a.active::after {
  display: block;
}

.nav-menu a.active {
  color: var(--secondary-color);
}

.nav-menu a.active::after {
  background-color: var(--secondary-color);
}

.language-select {
  appearance: none;
  font-size: clamp(0.8rem, 0.7vw + 0.6rem, 1.1rem);
  padding: 0.4em 2em 0.4em 0.8em;
  border-radius: 0.5em;
  border: 1px solid #d4aa42;
  background-color: #fff;
  color: #631969;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0l5 5 5-5z' fill='%23333'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.8em center;
  background-size: 0.6em;
  transition: border-color 0.3s ease;
}

.language-select:hover {
  border-color: #999;
}

.language-select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: #fff;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 75vh;
  text-align: center;
}

footer > .page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  padding: 4em 1em 4em;
  align-items: center;
}

footer .message {
  width: 80%;
  color: #000;
  padding: 1rem;
}

.dark-glass {
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
  color: #444;
  background-color: rgba(255, 255, 255, 0.35);
  aspect-ratio: 1/1;
  justify-content: center;
  border-radius: 1rem;
}

.dark-glass a {
  color: var(--secondary-color);
  font-weight: bold;
  text-decoration: none;
}

.dark-glass > * {
  margin: 0;
}

.footerimage {
  width: 100vw;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}

.imageheader {
  width: 100vw;
  max-width: none;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  overflow: hidden;
}

.imageheader img {
  width: 100vw;
  height: auto;
  display: block;
  object-fit: cover;
}

.page {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.page .button {
  text-transform: uppercase;
  padding: 0.9rem 3rem;
  background: #000a;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2rem;
  box-shadow: 0 3px 7px #0003;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
  text-decoration: none;
  text-align: center;
}

.page .button:hover {
  background: #000c;
}

section {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section:first-child {
  color: #fff;
  aspect-ratio: 16/9;
}

section:first-child > .page-content {
  padding-top: 10rem;
}

.page-intro {
  margin-top: 2rem;
  line-height: 1.4;
}

section > .background {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 1;
}

.background.aboutus {
  filter: brightness(60%);
}

.background.mission {
  background-size: unset;
}

section > .page-content {
  padding: 6rem 3rem;
}

section.secondary {
  background-color: #ccc;
}

section.primary {
  background-color: var(--primary-color);
}

section.botoje {
  background-image: url('../../public/images/back2.jpg');
  background-size: 100% auto;
  background-repeat: repeat-y;
  position: relative;
}

section.botoje::after {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;
  background: linear-gradient(0deg, rgba(253, 252, 250, 1) 0%, rgba(253, 252, 250, 0) 100%);
  content: '';
  z-index: 2;
}

section {
  display: flex;
  justify-content: center;
}

section.banner {
  font-size: 3rem;
}

section.banner .page-content {
  height: 100%;
  justify-content: center;
}

section.banner .page-content > .botoje-white {
  bottom: 3rem;
  width: 150px;
  position: absolute;
}

.app.ltr section.banner .page-content > .botoje-white {
  right: 3rem;
  left: auto;
}

.app.rtl section.banner .page-content > .botoje-white {
  left: 3rem;
  right: auto;
}

section.about-us {
  justify-content: flex-start;
}

section.about-us .botoje-white {
  bottom: 3rem;
  width: 180px;
  position: absolute;
}

.app.ltr section.about-us .botoje-white {
  right: unset;
  left: 1rem;
}

.app.rtl section.about-us .botoje-white {
  left: unset;
  right: 1rem;
}

section.about-us .button {
  margin-top: 5rem;
}

section.about-us > .page-content {
  min-height: 36rem;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-start;
  display: flex;
}

section.about-us > .page-content > div {
  flex: 1 1 50%;
}

section.our-team {
  background-color: #eee;
}

section.our-team > .page-content {
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  display: flex;
  padding: 2rem 3rem;
}

section.our-team .circle {
  flex: 1 0 58%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  background-color: #ccc;
  padding: 4rem;
  margin: -4rem 0;
}

section.our-vision > .page-content {
  gap: 3rem;
  align-items: center;
  display: flex;
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.botoje-white {
  width: 200px;
  aspect-ratio: 0.66;
  height: auto;
  position: absolute;
  user-select: none;
  pointer-events: none;
  background-image: url('../../public/images/botoje-white.png');
  background-size: cover;
  z-index: 10;
}

.botoje-gold {
  width: 130px;
  aspect-ratio: 0.66;
  height: auto;
  user-select: none;
  pointer-events: none;
  background-image: url('../../public/images/botoje-gold-1.png');
  background-size: cover;
  z-index: 10;
}

.form-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 640px;
  margin: 5rem auto;
  border: 0.4rem solid #e4dae5;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.6);
}

.form-block label {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-block label > .title {
  font-weight: bold;
}

.form-block label.checkbox {
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.form-block label.checkbox input {
  width: auto;
  flex: 0 1 auto;
}

.form-block label.checkbox a {
  text-decoration: none;
  color: var(--secondary-color);
}

.form-block input,
.form-block textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box;
}

.form-block button {
  padding: 0.75rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
}

.form-block button:hover {
  background-color: var(--secondary-color);
}

.services {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  gap: 1rem;
  padding: 2rem 0;
}

.services > div {
  flex: 1 1 33%;
  display: inline-flex;
  flex-direction: column;
  gap: 2rem;
}

.services > div > *:not(.image-circle) {
  padding: 0 1rem;
}

.services > div:nth-child(1) {
  margin-top: 9rem;
}

.services > div:nth-child(2) {
  flex: 1 0 36%;
  margin-top: 24rem;
  margin-bottom: -10rem;
}

.image-circle {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50% 50% 0 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 0.4rem;
  border: 2px solid var(--secondary-color);
}

.image-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.image-circle.ne {
  border-radius: 50% 0 50% 50%;
}

.image-circle.sw {
  border-radius: 0 50% 50% 50%;
}

.image-big {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 0.3rem solid #fff;
  overflow: hidden;
}

.image-big > img {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem 4rem;
  gap: 5rem;
}

.team > .team-member {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.team > .team-member > img {
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 50%;
  border: 0.3rem solid #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.team > .team-member > strong {
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
}

@media (max-width: 1300px) {
  .team > .team-member {
    flex: 0 0 30%;
  }
}

@media (max-width: 900px) {
  .team > .team-member {
    flex: 0 0 45%;
  }
}

@media (max-width: 600px) {
  .team {
    flex-direction: column;
    align-items: center;
  }

  .team > .team-member {
    flex: 0 0 100%;
  }
}

@media (max-width: 1100px) {
  :root {
    font-size: 14px;
    line-height: 1.1;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h4 {
    font-size: 1rem;
  }

  .app-header > .page-content {
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin: 0;
  }

  .app-header > .page-content .lang-selector {
    position: absolute;
    right: 1rem;
    top: 2rem;
    padding: 0;
  }

  .logo-full {
    height: 80px;
    padding: 0.5rem;
  }

  .nav-menu {
    position: relative;
    border-top: 2px solid var(--secondary-color);
    gap: 2em;
    height: 66px;
  }

  .header-left,
  .header-right {
    max-width: 12em;
  }

  .nav-menu a {
    font-size: clamp(0.85rem, 1vw + 0.4rem, 1.2rem);
  }

  .language-select {
    font-size: clamp(0.8rem, 0.6vw + 0.6rem, 1rem);
  }

  .botoje-gold {
    width: 100px;
  }

  .page > section:first-child {
    margin-top: 146px;
    aspect-ratio: 3/2;
  }

  .page > section:first-child > .page-content {
    padding-top: 4rem;
  }

  .page > section > .page-content {
    padding: 4rem 1rem;
  }

  section.banner .page-content > .botoje-white {
    bottom: 1rem;
    right: 1rem;
    width: 60px;
    position: absolute;
  }

  section.banner .page-content h1,
  section.banner .page-content h2 {
    padding: 0 2rem;
  }

  section.secondary .page-content > header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  section.secondary .page-content > header > * {
    flex: 1 0 100%;
  }

  section.about-us .button {
    margin-top: 5rem;
  }

  section.about-us > .page-content {
    flex-direction: column;
    padding-bottom: calc(4rem + 150px);
  }

  section.about-us > .page-content .botoje-white {
    width: 100px;
    left: calc(50% - 50px);
    position: absolute;
  }

  section.about-us > .page-content > div {
    flex: 1 0 100%;
    width: 100%;
  }

  section.our-team > .page-content {
    flex-direction: column;
    padding: 1rem;
    overflow: hidden;
  }

  section.our-team > .page-content .circle {
    margin: 0;
    padding: 6rem;
    aspect-ratio: auto;
  }

  .content-row {
    width: 100%;
  }

  .content-row > div:only-child {
    width: 100%;
  }

  .dark-glass {
    aspect-ratio: auto;
    padding: 3rem 0;
  }

  .services {
    flex-wrap: wrap;
    gap: 5rem;
  }

  .services > div {
    flex: 1 0 100%;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
